*{
  box-sizing: border-box;
}

body {
  font-size: 15px;
  font-family: 'Open Sans', sans-serif;
  color: #444;
  background-color: #300d4f;
  padding: 50px 20px;
  margin: 0;
  min-height: 100vh;
  position: relative;
}

.todo-wrapper {
  width: 400px;
  max-width: 100%;
  min-height: 500px;
  margin: 20px auto 40px;
  border: 1px solid #eee;
  border-radius: 4px;
  padding: 40px 20px;
  -webkit-box-shadow: 0 0 15px 0 rgba(0,0,0,0.05);
  box-shadow: 0 0 15px 0 rgba(0,0,0,0.05);
  background-color: #e9edf6;
  overflow: hidden;
  position: relative;
}

form{
  overflow: overlay;
}

.btn, input {
  line-height: 2em;
  border-radius: 3px;
  border: 0;
  display: inline-block;
  margin: 15px 0;
  padding: 0.2em 1em;
  font-size: 1em;
}

input[type='text'] {
  border: 1px solid #ddd; 
  min-width: 80%;
}

input:focus {
  outline: none;
  border: 1px solid #a3b1ff;
}

.btn {
  text-align: center;
  font-weight: bold; 
  cursor: pointer;
  border-width: 1px;
  border-style: solid;
}

.btn-add {
  background: #00de72;
  color: #fefefe;
  min-width: 17%;
  font-size: 2.2em;
  line-height: 0.5em;
  padding: 0.3em 0.3em;
  float: right;
}

ul {
  list-style: none;
  padding: 0;
}
  
li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 5px;
    background-color: #dee2eb;
}

.text {
  padding: 0.7em;
}

.delete {
  padding: 0.3em 0.7em;
  min-width: 17%;
  background: #f56468;
  color: white;
  font-weight: bold;
  cursor: pointer;
  font-size: 2.2em;
    line-height: 0.5em;
}
